<app-header [showMenu]="true" title="Soporte Tecnico"></app-header>
<ion-content>
<br><br><br>
<div>
  <h3 class="ion-text-center">
   Plataforma Web y Movil desarrollado para el Abasto La Perla de Oriente. Queda totalmente prohibida su: venta, distribucion y/o modificacion.
   <h4 class="ion-text-center">Contacto: jesusmedina0921&#64;gmail.com</h4>
 


  </h3>

</div>
<br>
  
    <!--EL &#64; es el @ solo que no puedo colocar el @ literalmente porque me genera error-->
    <div class="image-container">
      <app-logo></app-logo>
    </div>
  </ion-content>
